html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

#wrap {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 3s;
}

.contents_area {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  height: 100%;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#hamburger-button,
#side-panel,
#overlay {
  display: none;
  /* 기본적으로 요소들을 숨깁니다. */
}

.side-panel {
  position: fixed;
  top: 0;
  right: -250px;
  /* 기본적으로는 화면 바깥에 위치 */
  width: 170px;
  height: 100%;
  background: #333;
  color: #fff;
  transition: right 0.4s ease-in-out;
  z-index: 8;
  /* 오버레이보다 앞에 패널이 오도록 설정 */
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* 어두운 배경 */
  z-index: 7;
  /* 패널 뒤에 오버레이가 오도록 설정 */
}

/* //////////////////////////////////// */
.nav {
  position: relative;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 999;
}

.nav ul {
  position: inherit;
  left: 10px;
  display: flex;
  justify-content: space-around;
  color: #000;
}

.nav li {
  padding: 0 15px;
}

.nav img {
  position: fixed;
  width: 130px;
  height: 130px;
  right: 20px;
  top: 20px;
  opacity: 0.5;
  transition: all 0.3s;
}

.nav img:hover {
  opacity: 1;
}

.menu_box {
  display: flex;
}

.menu_box li {
  height: 30px;
  line-height: 30px;
  text-align: center;
  overflow: hidden;
  padding: 0 15px;
  cursor: pointer;
  font-size: 20px;
}

.menu_box div {
  transition: all 0.5s;
}

.menu_box li:hover div {
  transform: translateY(-100%);
}

#scrollToTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  font-weight: 900;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  /* 초기에는 버튼을 숨깁니다 */
  z-index: 9999;
}

#scrollToTop:hover {
  background-color: #2980b9;
}

.title {
  font-family: "Nanum Myeongjo", serif;
  font-size: 60px;
  text-align: center;
  height: 400px;
  line-height: 400px;
}

#wrapper1 {
  display: flex;
  padding: 70px 0;
  width: 100%;
  margin-top: 50px;
}

#wrapper2 {
  display: flex;
  padding: 70px 0;
  width: 100%;
}

#wrapper3 {
  display: flex;
  padding: 70px 0;
  width: 100%;
}

#wrapper4 {
  display: flex;
  padding: 70px 0;
  width: 100%;
}

#wrapper5 {
  display: flex;
  padding: 70px 0;
  width: 100%;
}

#wrapper6 {
  display: flex;
  padding: 70px 0;
  width: 100%;
}


#img_container1 {
  width: 50%;
  height: 730px;
  background: url(../img_포트폴리오/others/bespoke1-1.jpg) no-repeat center / cover;
  /* animation: fadein 1s, move_down 1s; */
  opacity: 0;
  transform: translateY(-200px);
  transition: all 1s;
}

#img_container2 {
  width: 50%;
  height: 730px;
  background: url(../img_포트폴리오/others/bespoke2.jpg) no-repeat center / cover;
  /* animation: fadein 1s, move_down 1s; */
  opacity: 0;
  transform: translateY(-200px);
  transition: all 1s;
}

#img_container3 {
  width: 50%;
  height: 730px;
  background: url(../img_포트폴리오/others/bespoke3.jpg) no-repeat center / cover;
  /* animation: fadein 1s, move_down 1s; */
  opacity: 0;
  transform: translateY(-200px);
  transition: all 1s;
}

#img_container4 {
  width: 50%;
  height: 900px;
  background: url(../img_포트폴리오/others/bespoke4-1.jpg) no-repeat center / cover;
  /* animation: fadein 1s, move_down 1s; */
  opacity: 0;
  transform: translateY(-200px);
  transition: all 1s;
}

#img_container5 {
  width: 50%;
  height: 1100px;
  background: url(../img_포트폴리오/others/bespoke5.jpg) no-repeat center / cover;
  /* animation: fadein 1s, move_down 1s; */
  opacity: 0;
  transform: translateY(-200px);
  transition: all 1s;
}

#img_container6 {
  width: 50%;
  height: 730px;
  background: url(../img_포트폴리오/others/bespoke6.jpg) no-repeat center / cover;
  /* animation: fadein 1s, move_down 1s; */
  opacity: 0;
  transform: translateY(-200px);
  transition: all 1s;
}

/* ///////////////////////////////////// */
#txt_container_L1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 40px;
  font-size: 23px;
  font-weight: 900;
  font-family: "Nanum Myeongjo", serif;
  opacity: 0;
  transition: all 1s;
  transform: translateX(-200px);
  justify-content: center;
  /* animation: fadein 1s, move_left 1s; */
}

#txt_container_L2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 40px;
  font-size: 23px;
  font-weight: 900;
  font-family: "Nanum Myeongjo", serif;
  opacity: 0;
  transition: all 1s;
  transform: translateX(-200px);
  justify-content: center;
  /* animation: fadein 1s, move_left 1s; */
}

#txt_container_L3 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 40px;
  font-size: 23px;
  font-weight: 900;
  font-family: "Nanum Myeongjo", serif;
  opacity: 0;
  transition: all 1s;
  transform: translateX(-200px);
  justify-content: center;
  /* animation: fadein 1s, move_left 1s; */
}

#txt_container_R1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 40px;
  font-size: 23px;
  font-weight: 900;
  font-family: "Nanum Myeongjo", serif;
  opacity: 0;
  transition: all 1s;
  transform: translateX(200px);
  justify-content: center;
  /* animation: fadein 1s, move_right 1s; */
}

#txt_container_R2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 40px;
  font-size: 23px;
  font-weight: 900;
  font-family: "Nanum Myeongjo", serif;
  opacity: 0;
  transition: all 1s;
  transform: translateX(200px);
  justify-content: center;
  /* animation: fadein 1s, move_right 1s; */
}

#txt_container_R3 {
  display: flex;
  flex-direction: column;
  width: 50%;
  line-height: 32px;
  padding: 40px;
  font-size: 23px;
  font-weight: 900;
  font-family: "Nanum Myeongjo", serif;
  opacity: 0;
  transition: all 1s;
  transform: translateX(200px);
  justify-content: center;
  /* animation: fadein 1s, move_right 1s; */
}

.desc p {
  line-height: 35px;
}

.appointment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointment img {
  width: 200px;
  height: 200px;
  margin-top: 100px;
}

.subtitle {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 90px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 900;
}

.subtitle p {
  margin: 60px 0 70px;
}

.insta_link {
  width: 200px;
  height: 50px;
  line-height: 50px;
  border: 1px solid;
}

.insta_link:hover {
  background-color: black;
  color: white;
  transition: all 0.5s;
}

/* ///////////////////////////////////////// */
.footer {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
  box-shadow: 0 -10px 5px rgba(0, 0, 0, 0.125);
  justify-content: center;
}

.f_container1 {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.f_container2 {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.infotxt1 {
  margin: auto 0;
}

.infotxt2 {
  margin-top: 14px;
}

.infotxt3 {
  margin-top: 12px;
}

#logo_img2 {
  width: 145px;
  height: 145px;
  margin: auto 0;
}

#insta_img {
  width: 35px;
  height: 35px;
  padding-right: 5px;
}

#blog_img {
  width: 35px;
  height: 35px;
  padding-left: 5px;
}

.copyright {
  display: flex;
  margin: 0;
  height: 50px;
  background: black;
  color: white;
  justify-content: center;
  align-items: center;
  /* transform: translateY(17px); */
}

@media screen and (max-width: 768px) {
  /* html,
      body {
        width: 100%;
        overflow-x: hidden;
      } */

  .nav {
    display: none;
  }

  .nav img {
    display: none;
  }

  #hamburger-button {
    display: flex;
    /* 화면이 480px 이하일 때만 햄버거 버튼을 표시합니다. */
    justify-content: center;
    align-items: center;
    line-height: 1px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9;
    /* 오버레이와 패널보다 앞에 위치 */
    background-color: black;
    /* 버튼 배경 색상 */
    color: white;
    /* 아이콘 색상 */
    border: 1px solid white;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    width: 50px;
    height: 50px;
  }

  #side-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 900;
  }

  .title {
    font-size: 39px;
    font-weight: 900;
  }

  #txt_container_L1 {
    padding: 40px 20px;
    font-size: 16.5px;
  }

  #txt_container_L2 {
    padding: 40px 20px;
    font-size: 17px;
  }

  #txt_container_L3 {
    padding: 40px 20px;
    font-size: 17px;
  }

  #txt_container_R1 {
    padding: 40px 20px;
    font-size: 17px;
  }

  #txt_container_R2 {
    padding: 40px 20px;
    font-size: 17px;
  }

  #txt_container_R3 {
    padding: 40px 20px;
    font-size: 17px;
  }

  .footer {
    height: 450px;
    flex-direction: column;
  }

  .f_container1 {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  .f_container2 {
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }

  #logo_img2 {
    width: 125px;
    height: 125px;
    margin: 20px 0 20px 0;
  }

  .infotxt {
    font-size: 15px;
    text-align: center;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 26px;
  }

  #img_container2 {
    width: 60%;
  }

  #img_container6 {
    width: 60%;
  }

  .subtitle p {
    margin: 30px 0 50px;
  }

  .appointment img {
    width: 160px;
    height: 160px;
  }

  #logo_img2 {
    width: 100px;
    height: 100px;
  }

  .infotxt1 p {
    font-size: 18px;
  }

  .infotxt3 p {
    font-size: 17px;
  }
}

@media screen and (max-width: 320px) {
  .title {
    font-size: 23px;
  }

  .infotxt1 p {
    font-size: 15.5px;
  }

  .copyright {
    font-size: 13.5px;
  }
}