        #wrap {
            width: 100%;
            height: 100%;
            /* opacity: 0;
            transition: opacity 3s; */
        }

        body {
            font-family: 'Arial', sans-serif;
            background-color: #FAFAFA;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        #hamburger-button,
        #side-panel,
        #overlay {
            display: none;
            /* 기본적으로 요소들을 숨깁니다. */
        }

        .side-panel {
            position: fixed;
            top: 0;
            right: -250px;
            /* 기본적으로는 화면 바깥에 위치 */
            width: 170px;
            height: 100%;
            background: #333;
            color: #fff;
            transition: right 0.4s ease-in-out;
            z-index: 8;
            /* 오버레이보다 앞에 패널이 오도록 설정 */
        }

        #overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            /* 어두운 배경 */
            z-index: 7;
            /* 패널 뒤에 오버레이가 오도록 설정 */
        }

        .nav {
            box-shadow: 0 10px 5px rgba(0, 0, 0, 0.125);
            position: absolute;
            width: 100%;
            height: 75px;
            display: flex;
            align-items: center;
            background-color: transparent;
            z-index: 99999;
        }

        .nav ul {
            position: inherit;
            left: 10px;
            display: flex;
            justify-content: space-around;
            color: #000;

        }

        .nav li {
            padding: 0 15px;
        }

        .nav img {
            position: fixed;
            width: 130px;
            height: 130px;
            right: 20px;
            top: 20px;
            opacity: 0.5;
            transition: all 0.3s;
        }

        .nav img:hover {
            opacity: 1;
        }

        .menu_box {
            display: flex;
        }

        .menu_box li {
            height: 30px;
            line-height: 30px;
            text-align: center;
            overflow: hidden;
            padding: 0 15px;
            cursor: pointer;
            font-size: 20px;
        }

        .menu_box div {
            transition: all 0.5s;
        }

        .menu_box li:hover div {
            transform: translateY(-100%);
        }

        /* ////////////////////////////////////////////// */

        .title {
            font-family: "Nanum Myeongjo", serif;
            font-size: 72px;
            font-weight: 900;
            text-align: center;
            height: 100px;
            line-height: 100px;
            margin-top: 130px;
        }

        /* ///////////////////////////////////////// */

        main {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            padding: 60px;
        }

        .contact-form {
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
            max-width: 400px;
            width: 100%;
        }

        .contact-form h2 {
            margin-bottom: 20px;
        }

        .contact-form form {
            display: flex;
            flex-direction: column;
        }

        .contact-form input,
        .contact-form textarea {
            margin: 10px 0;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .contact-form button {
            background-color: #007BFF;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }

        .contact-form button:hover {
            background-color: #0056b3;
            transition: all 0.3s;
        }

/* ////////////////////////////////////////// */

        .footer {
            display: flex;
            width: 100%;
            height: 200px;
            background-color: white;
            color: black;
            box-shadow: 0 -10px 5px rgba(0, 0, 0, 0.125);
            justify-content: center;
        }

        .f_container1 {
            width: 55%;
            height: 100%;
            display: flex;
            justify-content: space-around;
        }

        .f_container2 {
            width: 45%;
            height: 100%;
            display: flex;
            justify-content: space-around;
        }

        .infotxt1 {
            margin: auto 0;
        }

        .infotxt2 {
            margin-top: 14px;
        }

        .infotxt3 {
            margin-top: 12px;
        }

        #logo_img2 {
            width: 145px;
            height: 145px;
            margin: auto 0;
        }

        #insta_img {
            width: 35px;
            height: 35px;
            padding-right: 5px;
        }

        #blog_img {
            width: 35px;
            height: 35px;
            padding-left: 5px;
        }

        .copyright {
            display: flex;
            margin: 0;
            height: 50px;
            background: black;
            color: white;
            justify-content: center;
            align-items: center;
            transform: translateY(17px);
        }

        /* 768px 이상에선 footer1, copyright1 사용 */
        /* 768px 이하에선 footer2, copyright2 사용 */
        @media screen and (max-width: 768px) {
            .nav {
                display: none;
            }

            .nav img {
                display: none;
            }

            #hamburger-button {
                display: flex;
                /* 화면이 480px 이하일 때만 햄버거 버튼을 표시합니다. */
                justify-content: center;
                align-items: center;
                line-height: 1px;
                position: fixed;
                top: 10px;
                right: 10px;
                z-index: 9;
                /* 오버레이와 패널보다 앞에 위치 */
                background-color: black;
                /* 버튼 배경 색상 */
                color: white;
                /* 아이콘 색상 */
                border: 1px solid white;
                padding: 10px;
                font-size: 30px;
                cursor: pointer;
                border-radius: 5px;
                width: 50px;
                height: 50px;
            }

            #side-panel {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 17px;
                font-weight: 900;
            }

            .title {
                font-size: 50px;
            }

            .footer {
                height: 450px;
                flex-direction: column;
            }

            .f_container1 {
                width: 100%;
                height: 100%;
                flex-direction: column;
                align-items: center;
            }

            .f_container2 {
                width: 100%;
                height: 100%;
                justify-content: space-around;
            }

            #logo_img2 {
                width: 125px;
                height: 125px;
                margin: 20px 0 20px 0;
            }

            .infotxt {
                font-size: 15px;
                text-align: center;
                margin: 0;
            }
        }

        @media screen and (max-width: 480px) {
            #logo_img2 {
                width: 100px;
                height: 100px;
            }

            .infotxt1 p {
                font-size: 18px;
            }

            .infotxt3 p {
                font-size: 17px;
            }
        }

        @media screen and (max-width: 320px) {
            .infotxt1 p {
                font-size: 15.5px;
            }

            .copyright {
                font-size: 13.5px;
            }
        }